In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [3]:
file_location = "d:\\Workspace\\data-engineering-zoomcamp-2023\\week_1_basics_n_setup\\2_docker_sql\\taxi+_zone_lookup.csv"
df = pd.read_csv(file_location)

In [4]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [6]:
df.to_sql(name='zones', con=engine, if_exists='append')

265